/*
  Built Mobile First: All Generic sizing and layouts are placed in main part of CSS. 
  All sizing and layout changes specific to screen sizes is down in media-query area.
  All color based things are seperate to allow for tweaking later out.
*/

/**********************************
GENERAL
***********************************/


/**********************************
NAVIGATION 
***********************************/

/**********************************
ACCORDION
***********************************/
/*----- Accordion -----*/
.accordion, .accordion * {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

.accordion {
	overflow:hidden;
	box-shadow:0px 1px 3px rgba(0,0,0,0.25);
	border-radius:3px;
}

/*----- Section Titles -----*/
.accordion-section-title {
	background:#33b3a6;/* main color no hover*/
	width:100%;
	padding:15px;
	display:inline-block;
	border-bottom:1px solid #1a1a1a;
	transition:all linear 0.15s;
	/* Type */
	font-size:1.200em;
	text-shadow:0px 1px 0px #1a1a1a;
	color:#000000; /*Text Color*/
}

.accordion-section-title.active, .accordion-section-title:hover{
	background:#FF6D1F;/* color when you do hover over it*/
	/* Type */
	text-decoration:none;
}

.accordion-section:last-child .accordion-section-title {
	border-bottom:none;

}

/*----- Section Content -----*/
.accordion-section-content {
	padding:15px;
	display:none;
	background:#bfbfbf/* Where your content is at*/
}

/**********************************
HEADER
***********************************/


/**********************************
MAIN CONTENT
***********************************/
body{
	background:#cccccc;
}

/**********************************
FOOTER - Layout and Sizing
***********************************/


/**********************************
PAGE: _______
***********************************/



/**********************************
FONTS
***********************************/



/**********************************
COLORS and BACKGROUNDS
Color 1:
Color 1:
Color 1:
Color 1:
Color 1:
***********************************/
